/* The side navigation menu */
.sidebar {
  font-family: Courier, Garamond, monospace;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100vh; /* Set height to viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  overflow: hidden; /* Prevent scrolling within links */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Sidebar link pre elements */
.sidebar a pre {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling within pre elements */
  white-space: pre; /* Preserve whitespace */
  font-family: Courier, Garamond, monospace;
}

/* Active/current link */
.sidebar a.active {
  background-color: #e3742f;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

/* Mobile responsiveness */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    margin: 0;
    padding: 0;
    width: 98%;
  }
  
  .sidebar a {
    text-align: center;
    float: none;
  }
}

pre {
  font-family: Courier, Garamond, monospace;
  margin: 0px;
  padding: 0px;
  overflow-x: scroll;
  margin-bottom: -50px;
  padding-bottom: 50px;
}

a {
  overflow: hidden;
}